.sosmed-logo-wrapper-portofolio
  = image_tag "Instagram.png", class: "logo-sosmed"
  br
  = image_tag "linkedin.png", class: "logo-sosmed"
  br
  = image_tag "G.png", class: "logo-sosmed"
  br
  = image_tag "Twitter.png", class: "logo-sosmed"
  br
  = image_tag "facebook.png", class: "logo-sosmed"
.home-logo
  = image_tag "41studio-logo.jpg", id: "header-logo-portofolio"
#header.header
.container-fluid
  .navbar.portofolio-navbar
    a#home-link.hvr-underline-from-center[href="home"]
      h2.navbar-text
        | Home
    a.hvr-underline-from-center[href="services"]
      h2.navbar-text
        | Services
    a.hvr-underline-from-center[href="portofolio"]
      h2.navbar-text
        | Portofolios
    a.hvr-underline-from-center[href="job"]
      h2.navbar-text
        | Jobs
    a.hvr-underline-from-center[href="about"]
      h2.navbar-text
        | About Us
    a.hvr-underline-from-center[href="contact"]
      h2.navbar-text
        | Contact
    a#blog-link.hvr-underline-from-center[href="article"]
      h2.navbar-text
        | Blog
  .jumbotron-portofolio
    h2.jumbotron-title-portofolio.centered-portofolio.bold.title-nunito
      | Ruby On Rails, iOS and Android Project Case Studies
    hr.jumbotron-line-portofolio
    h5.jumbotron-content-portofolio.size-15.content-helvetica
      | We have our own approach to things, be it design, tech or scale. They came to us with a need and we built them beautiful creation of web and mobile apps which backed-end with Ruby On Rails technology stack.
    = image_tag "circle-logo.png", id: "jumbotron-logo-portofolio"
    = image_tag "support.png", id: "support-logo-portofolio"
  h2.text-center.bold.margin-top-100.size-30.title-nunito
    | Featured Ruby On Rails and Mobile Projects
  hr.purple-line
  h5#desc-text.text-center.margin-340.size-15.line-height-30.content-helvetica
    | We understand that every idea that is gushing from our client is a new color in industry technology. That’s why we are here to assist and develop all the ideas that our clients needed and make it to be the most valuable asset for our clients worldwide. Check out these 20+ Ruby On Rails, iOS and Android project case studies we’ve worked on :
  .button-filter-portofolio
    button.btn-default.transparent.btn-filter-portofolio.all-product-button
      | All Products
    button.btn-default.transparent.btn-filter-portofolio
      | Travel
    button.btn-default.transparent.btn-filter-portofolio
      | Event
    button.btn-default.transparent.btn-filter-portofolio
      | Ecommerce
    button.btn-default.transparent.btn-filter-portofolio
      | SEO/SEM
  .button-filter-portofolio.second
    button.btn-default.transparent.btn-filter-portofolio
      | Real Estate
    button.btn-default.transparent.btn-filter-portofolio
      | Workout
    button.btn-default.transparent.btn-filter-portofolio
      | Web Develop
    button.btn-default.transparent.btn-filter-portofolio
      | Service
  #hishop-part.row
    .col-xs-6
      .box-portofolio
    .col-xs-6
      .desc
        h2.bold.size-30.title-nunito
          | Hishop
        hr.yellow-line-portofolio
        h5.content-helvetica
          | Ecommerce
        h5.bold.title-nunito
          | Description
        h5.content-helvetica
          | Malaysia’s Online Beauty, Skin Care & Cosmetics Store
        h5.bold.title-nunito
          | Technology
        h5.margin-right.content-helvetica
          | Ruby on Rails, jQuery, PostgreSQL, Shopping Cart System, Payment Processing, Mailchimp, Bootstrap & Active Admin
      button.btn-default.transparent.btn-filter-portofolio.margin-left-75.purple
        | VISIT SITE
  #pricehub-part.row.hide-content
    .col-xs-6
      .box-portofolio
    .col-xs-6
      .desc
        h2.bold.size-30.title-nunito
          | Pricehub
        hr.yellow-line-portofolio
        h5.content-helvetica
          | Ecommerce
        h5.bold.title-nunito
          | Description
        h5.content-helvetica
          | Malaysia’s Online Beauty, Skin Care & Cosmetics Store
        h5.bold.title-nunito
          | Technology
        h5.margin-right.content-helvetica
          | Ruby on Rails, jQuery, PostgreSQL, Shopping Cart System, Payment Processing, Mailchimp, Bootstrap & Active Admin
      button.btn-default.transparent.btn-filter-portofolio.margin-left-75.purple
        | VISIT SITE
  #legalmate-part.row.hide-content
    .col-xs-6
      .box-portofolio
    .col-xs-6
      .desc
        h2.bold.size-30.title-nunito
          | Legal Mate
        hr.yellow-line-portofolio
        h5.content-helvetica
          | Ecommerce
        h5.bold.title-nunito
          | Description
        h5.content-helvetica
          | Malaysia’s Online Beauty, Skin Care & Cosmetics Store
        h5.bold.title-nunito
          | Technology
        h5.margin-right.content-helvetica
          | Ruby on Rails, jQuery, PostgreSQL, Shopping Cart System, Payment Processing, Mailchimp, Bootstrap & Active Admin
      button.btn-default.transparent.btn-filter-portofolio.margin-left-75.purple
        | VISIT SITE
  #funways-part.row.hide-content
    .col-xs-6
      .box-portofolio
    .col-xs-6
      .desc
        h2.bold.size-30.title-nunito
          | Funway
        hr.yellow-line-portofolio
        h5.content-helvetica
          | Ecommerce
        h5.bold.title-nunito
          | Description
        h5.content-helvetica
          | Malaysia’s Online Beauty, Skin Care & Cosmetics Store
        h5.bold.title-nunito
          | Technology
        h5.margin-right.content-helvetica
          | Ruby on Rails, jQuery, PostgreSQL, Shopping Cart System, Payment Processing, Mailchimp, Bootstrap & Active Admin
      button.btn-default.transparent.btn-filter-portofolio.margin-left-75.purple
        | VISIT SITE
  #facilgo-part.row.hide-content
    .col-xs-6
      .box-portofolio
    .col-xs-6
      .desc
        h2.bold.size-30.title-nunito
          | Facilgo
        hr.yellow-line-portofolio
        h5.content-helvetica
          | Ecommerce
        h5.bold.title-nunito
          | Description
        h5.content-helvetica
          | Malaysia’s Online Beauty, Skin Care & Cosmetics Store
        h5.bold.title-nunito
          | Technology
        h5.margin-right.content-helvetica
          | Ruby on Rails, jQuery, PostgreSQL, Shopping Cart System, Payment Processing, Mailchimp, Bootstrap & Active Admin
      button.btn-default.transparent.btn-filter-portofolio.margin-left-75.purple
        | VISIT SITE
  #boatflow-part.row.hide-content
    .col-xs-6
      .box-portofolio
    .col-xs-6
      .desc
        h2.bold.size-30.title-nunito
          | Boatflow
        hr.yellow-line-portofolio
        h5.content-helvetica
          | Ecommerce
        h5.bold.title-nunito
          | Description
        h5.content-helvetica
          | Malaysia’s Online Beauty, Skin Care & Cosmetics Store
        h5.bold.title-nunito
          | Technology
        h5.margin-right.content-helvetica
          | Ruby on Rails, jQuery, PostgreSQL, Shopping Cart System, Payment Processing, Mailchimp, Bootstrap & Active Admin
      button.btn-default.transparent.btn-filter-portofolio.margin-left-75.purple
        | VISIT SITE
  #lodggy-part.row.hide-content
    .col-xs-6
      .box-portofolio
    .col-xs-6
      .desc
        h2.bold.size-30.title-nunito
          | Lodggy
        hr.yellow-line-portofolio
        h5.content-helvetica
          | Ecommerce
        h5.bold.title-nunito
          | Description
        h5.content-helvetica
          | Malaysia’s Online Beauty, Skin Care & Cosmetics Store
        h5.bold.title-nunito
          | Technology
        h5.margin-right.content-helvetica
          | Ruby on Rails, jQuery, PostgreSQL, Shopping Cart System, Payment Processing, Mailchimp, Bootstrap & Active Admin
      button.btn-default.transparent.btn-filter-portofolio.margin-left-75.purple
        | VISIT SITE
  #category-bar.row.category-bar-portofolio
    .col-xs-3
    .col-xs-1.text-center
      #hishop-arrow.arrow-up-portofolio
      button#hishop.category-button-portofolio.hishop-button
        h4.bold.size-20.margin-left--75.hishop-text
          | Hishop
    .col-xs-1.text-center
      #pricehub-arrow.arrow-up-portofolio
      button#pricehub.category-button-portofolio.pricehub-button
        h4.bold.size-20.margin-left--75.pricehub-text
          | Pricehub
    .col-xs-1
      #legalmate-arrow.arrow-up-portofolio
      button#legal-mate.category-button-portofolio.legalmate-arrow
        h4.bold.size-20.margin-left-35.legalmate-text
          | Legal Mate
    .col-xs-1.text-center
      #funways-arrow.arrow-up-portofolio
      button#funways.category-button-portofolio.funways-button
        h4.bold.size-20.funways-text
          | Funways
    .col-xs-1.text-center
      #facilgo-arrow.arrow-up-portofolio
      button#facilgo.category-button-portofolio.facilgo-button
        h4.bold.size-20.facilgo-text
          | Facilgo
    .col-xs-1.text-center
      #boatflow-arrow.arrow-up-portofolio
      button#boatflow.category-button-portofolio.boatflow-button
        h4.bold.size-20.boatflow-text
          | Boatflow
    .col-xs-1.text-center
      #lodggy-arrow.arrow-up-portofolio
      button#lodggy.category-button-portofolio.lodggy-button
        h4.bold.size-20.lodggy-text
          | Lodggy
    .col-xs-2
  .content-bottom-portofolio
    h3.content-bottom-text-portofolio.title-nunito
      | Already make up your mind? Hire our Ruby On Rails Team right away!
    button#hire-button.btn-default.transparent.btn-filter-portofolio.margin-left-75.purple
      | HIRE US
  button.back-top-portofolio

    a[href="#header"]
      span.glyphicon.glyphicon-arrow-up
  .row.footer
    .col-xs-6
      h4.bold.size-20
        | &copy Copyright 2018 41Studio All Right Reserved
    .col-xs-6
.admin-chat-portofolio
  #admin-chat.row
    .col-xs-12
      .header-chat
        h4.bold.color-white.admin-name
          | Allen Aprilia Begista
        button.glyphicon.glyphicon-remove.close-button
      .body-chat
        .row.body-chat-container
          .col-xs-3
            = image_tag "allen.jpg", id: "admin-image"
          .col-xs-9
            .box-portofolio-chat
              h4
                | Hello, Can i help you?
        .typing-message
          .row
            .col-xs-8
              input#typing-text[type="text" name="typing" placeholder="Type your message..."]
            .col-xs-2
              = image_tag "clip.png", class: "typing-fitur margin-left5"
            .col-xs-2
              = image_tag "send.png", class: "typing-fitur"