.sosmed-logo-wrapper-service
  = image_tag "Instagram.png", class: "logo-sosmed"
  br
  = image_tag "linkedin.png", class: "logo-sosmed"
  br
  = image_tag "G.png", class: "logo-sosmed"
  br
  = image_tag "Twitter.png", class: "logo-sosmed"
  br
  = image_tag "facebook.png", class: "logo-sosmed"
.container-fluid.modal-fullwidth
  button.glyphicon.glyphicon-remove.exit-button
  h1.bold.text-center.marg-top100.size-30
    | Why This?
  hr.purple-line
  .row
    .col-md-3
      .box.box-1
        h4.white.text-box1.text-center.bold
          | Customize your idea Easier to suppress the with your budget
        .little-box1
          h2.text-center.number.bold
            | 1
    .col-md-3
      .box.box-2
        h4.white.text-box2.text-center.bold
          | Easier to supperess the minimum budget
        .little-box2
          h2.text-center.number.bold
            | 2
    .col-md-3
      .box.box-3
        h4.white.text-center.text-box3.bold
          | Effective development time completion with fixed deadline
        .little-box3
          h2.text-center.number.bold
            | 3
    .col-md-3
      .box.box-4
        h4.white.text-center.text-box4.bold
          | Easier way to avoid out-of-budget issue during the development process
        .little-box4
          h2.text-center.number.bold
            | 4
.home-logo
  = image_tag "41studio-logo.jpg", id: "logo-header"
#header.header
.container-fluid
  .navbar.navbar-service.orange-underline
    a#home-link.hvr-underline-from-center[href="home.html"]
      h2
        | Home
    a.hvr-underline-from-center[href="service.html"]
      h2
        | Services
    a.hvr-underline-from-center[href="portofolio.html"]
      h2
        | Portofolios
    a.hvr-underline-from-center[href="job.html"]
      h2
        | Jobs
    a.hvr-underline-from-center[href="about.html"]
      h2
        | About Us
    a.hvr-underline-from-center[href="contact.html"]
      h2
        | Contact
    a#blog-link.hvr-underline-from-center[href="article.html"]
      h2
        | Blog
  .jumbotron-service
    h2.jumbotron-title.title-nunito.centered.bold
      | Agile Ruby On Rails Development Company
    hr.jumbotron-line-service
    h5.jumbotron-content-service.content-helvetica.size-15
      | We provide custom software solutions to perfectly suit every types of your business needs. Our fullstack Ruby On Rails developers are expert to the latest open source technologies such as Ruby On Rails, NodeJS and more..
    = image_tag "circle-logo.png", id: "jumbotron-logo-service"
    = image_tag "support.png", id: "support-logo"
  .what-we-do
    h2.text-center.bold.size-30.title-nunito
      | What We Do
    hr.red-line-service
    h5#content-center.text-center.size-15.content-helvetica
      | Below are all the areas we are experts in, areas where we collaborate with our clients and help them build great products. Pick up the ones that fit you most
  .row.content-1
    .col-md-5
      = image_tag "front-end.png", id: "front-end-image"
    .col-md-7
      h3.category-text.mar-top-30.title-nunito
        | Front-end Development
      hr.blue-line-service
      h5#front-text.category-content.content-helvetica
        | The look of your website is the mirror of your whole business and your offers, it’s reflecting your creativity and will make you looked different from others. 
        br
        br
        |  As a Ruby On Rails and Mobile App Development Company, we understand how important the design matter! that’s why we offer you the web design service to make your website and or mobile apps look more interesting and attractive when visitors come by. Tell us what look you like or simply trust us to make it different based on your business goals.
  .row.content-2
    .col-md-7
      h3.category-text-left.title-nunito
        | Mobile Development
      hr.green-line-service.margin-left-110
      h5.category-content-left.content-helvetica
        | With us you can create the mobile applications of your own and give you a great experience in exploring the technology through your hands. There are many mobile applications you can rely on for your daily and business activities, such as social media, travel, translator, GPS, or even your mobile version of your website. Our mobile developer team are expert with iOS Development, Android Development as well as with React-Native Development for hybrid mobile app development. Tell us your plan and we’ll make it happen.
    .col-md-5
      = image_tag "mobile-dev.png", id: "mobile-dev-image"
  .row.content-3
    .col-md-5
      = image_tag "desktop-dev.png", id: "front-end-image"
    .col-md-7
      h3#desktop-dev-text.category-text.title-nunito
        | Desktop Development
      hr.yellow-line-service
      h5.category-content.mar-top-50.content-helvetica
        | We build cross platform desktop apps (Mac, Windows and Linux) for all your business needs with JavaScript, HTML & CSS using Electron.
  .row.content-4
    .col-md-7
      h3.category-text-left.mar-top-0.title-nunito
        | Back-end Development
      hr.red-line.mar-left-110
      h5.category-content-left.content-helvetica
        | Web applications development is our core area of expertise and passion. We build elegant and functional web solutions using Ruby On Rails, React and more. Simple and intuitive or extensive and complex - we can build it with you. 
        br
        b
          | Business Apps
        br
        | Smart and effective solutions for your business. Clean, intuitive, extremely easy to use. 
        br
        b
          | Consumer Apps
        br
        |  Let your idea grow into a star with a stylish and engaging web app. Magic success formula: value your business brings + awesome Ruby On Rails implementation. 
        br
        b
          |  Entertainment Apps 
        br
        |  It is not all about work, right? Make real fans out of your users with a beautiful, engaging and fun web app!
    .col-md-5
      = image_tag "back-end.svg", id: "mobile-dev-image"
  h2#project-based.text-center.bold.title-nunito
    | Project Based
  hr.brown-line
  h5#project-based-text-service.text-center.margin.content-helvetica
    | if you have a ripe idea for your project with specific budgets and time completion, we suggest you to choose a project based plan and here’s the process flow as described below
  button.btn-default.learn-more-button-service
    | LEARN MORE
  #project-based-content.row.content-5
    .col-md-6
      = image_tag "project-based.png", id: "project-based-image-service"
    .col-md-6
      .content-project-based
        h4.blue.title-nunito
          | Ideas
        h4.title-nunito
          | Your product is starts from here.
        h4.green.title-nunito
          | Talk Wit Us
        h4.title-nunito
          | Let’s talk about the outline of your project and we will give solutions about your products.
        h4.orange.title-nunito
          | We Offer Proposal
        h4.title-nunito
          | Once we’ve got the project’s details from you we will send software development proposal about the price and the estimate time.
        h4.red.title-nunito
          | Dealing
        h4.title-nunito
          | After all set, we will send you our final proposal, quotation and MOU to be agreed by both parties and give you access to our project consultant for your quick access (chat, call, video call, etc) regarding to your project and start the development process right away.
  #extended-team-content.row
    .col-md-6
      = image_tag "extended-team.png", id: "extended-team-image-service"
    .col-md-6
      .content-project-based
        h4.blue.title-nunito
          | Tell Your Idea or Plan
        h4.content-helvetica
          | Your product is starts from here.
        h4.green.title-nunito
          | Dealing
        h4.content-helvetica
          | Let’s talk about the outline of your project and we will give solutions about your products.
        h4.orange.title-nunito
          | Start Development Process
        h4.content-helvetica
          | Once we’ve got the project’s details from you we will send software development proposal about the price and the estimate time.
  .row.category-bar-service
    .col-md-6.text-center
      #triangle-left.arrow-up-service
      button#project-based-button.category-button-service
        h4.bold.text-bar
          | Project Based
    .col-md-6.text-center
      #triangle-right.arrow-up-service.triangle-right
      button#extended-team-button.category-button-service
        h4.bold.text-bar-bottom
          | Extended Team
  .content-6
    h2.text-center.bold.font-30.title-nunito
      | Technology
    hr.green-line.no-margin
    h5.text-center.margin.tecno-content.content-helvetica
      | We use the most cutting-edge technologies to build outstanding applications whether it be for web, desktop or mobile platform. We are Ruby On Rails expert, but building great products would not be possible without knowledge and extensive usage of many other things, e.g. HaProxy, Varnish, Nginx, Vue JS, React JS, Angular JS, Ionic, Electron, PostgreSQL, Redis, Redshift, AWS, Heroku, Swift and many more.
  .techo-parent
    .row
      .col-md-1
      .col-md-2
        .tecno-icon
          #rails[data-toggle="tooltip" title="Rails"]
      .col-md-2
        .tecno-icon
          #react[data-toggle="tooltip" title="React"]
      .col-md-2
        .tecno-icon
          #android[data-toggle="tooltip" title="Android"]
      .col-md-2
        .tecno-icon
          #ios[data-toggle="tooltip" title="iOS"]
      .col-md-2
        .tecno-icon
          #postgre[data-toggle="tooltip" title="Postrgre"]
      .col-md-1
    .row
      .col-md-1
      .col-md-2
        .tecno-icon
          #heroku[data-toggle="tooltip" title="Heroku"]
      .col-md-2
        .tecno-icon
          #laravel[data-toggle="tooltip" title="Laravel"]
      .col-md-2
        .tecno-icon
          #django[data-toggle="tooltip" title="DJango"]
      .col-md-2
        .tecno-icon
          #angular[data-toggle="tooltip" title="Angular"]
      .col-md-2
        .tecno-icon
          #ionic[data-toggle="tooltip" title="Ionic"]
      .col-md-1
    .row
      .col-md-1
      .col-md-2
        .tecno-icon
          #electron[data-toggle="tooltip" title="Electron"]
      .col-md-2
        .tecno-icon
          #aws[data-toggle="tooltip" title="AWS"]
      .col-md-7
  h2.text-center.bold.size-30.title-nunito.mar-top-100
    | Hire Ruby Expert Now!
  hr.purple-line-service
  h5.text-center.size-15.mar
    | Want to discuss your product or partnership? We’re always ready to help
  button.btn-default.learn-more-button-service.purple
    | LEARN MORE
  button.back-top

    a[href="#header"]
      span.glyphicon.glyphicon-arrow-up
  .row.footer
    .col-md-6
      h4.bold.size-20.copyright
        |  &copy Copyright 2018 41Studio All Right Reserved
    .col-md-6
.admin-chat-service
  #admin-chat.row
    .col-xs-12
      .header-chat
        h4.bold.color-white.admin-name
          | Allen Aprilia Begista
        button.glyphicon.glyphicon-remove.close-button
      .body-chat
        .row.body-chat-container
          .col-md-3
            = image_tag "allen.jpg", id: "admin-image"
          .col-md-9
            .box-chat
              h4
                | Hello, Can i help you?
        .typing-message
          .row
            .col-md-8
              input#typing-text[type="text" name="typing" placeholder="Type your message..."]
            .col-md-2
              = image_tag "clip.png", class: "typing-fitur margin-left5"
            .col-md-2
              = image_tag "send.png", class: "typing-fitur"