.home-logo
  = image_tag "41studio-logo.jpg", id: "logo-header"
#header.header
.container-fluid
  .navbar
    a#home-link.hvr-underline-from-center[href="home"]
      h2.navbar-text
        | Home
    a.hvr-underline-from-center.orange-underline[href="services"]
      h2.navbar-text
        | Services
    a.hvr-underline-from-center[href="portofolio"]
      h2.navbar-text
        | Portofolios
    a.hvr-underline-from-center[href="job"]
      h2.navbar-text
        | Jobs
    a.hvr-underline-from-center[href="about"]
      h2.navbar-text
        | About Us
    a.hvr-underline-from-center[href="contact"]
      h2.navbar-text
        | Contact
    a#blog-link.hvr-underline-from-center[href="article"]
      h2.navbar-text
        | Blog
  .row.highlight
    .col-xs-6.no-pad
      .content1-left
        h2.text-center.content1-left-title.bold
          | Ruby On Rails Development Company in Indonesia
        h4#text-left-content1.text-center
          | 41studio is Ruby On Rails Outsourcing Company in Indonesia that leverages the cutting edge technology to rapidly build web or mobile applications as core of our services. We love to work in agile way for a whole host of clients to improve their business efficiency and provide a competitive advantage.
        button#service-button.btn-default
          h4.bold
            | OUR SERVICE
        = image_tag "circle-logo.png", id: "content1-logo"
    .col-xs-6.no-pad.bg-code
      = image_tag "support.png", id: "support-image"
      .owl-carousel.owl-carousel-header.owl-theme
        .item
          h1.bold
            | IDEAS
        .item
          h4
            | 2
        .item
          h4
            | 3
        .item
          h4
            | 4
  .content-2
    #web-part.row
      .col-xs-5
        = image_tag "web.png", id: "web-image"
        .sosmed-logo-wrapper
          a[href="http://www.instagram.com"]
            = image_tag "Instagram.png", class: "logo-sosmed"
          a[href="http://www.linkedin.com"]
            br
            = image_tag "linkedin.png", class: "logo-sosmed"
          a[href="https://plus.google.com"]
            br
            = image_tag "G.png", class: "logo-sosmed"
          a[href="http://www.twitter.com"]
            br
            = image_tag "Twitter.png", class: "logo-sosmed"
          a[href="http://www.facebook.com"]
            br
            = image_tag "facebook.png", class: "logo-sosmed"
        h1#web-text.text-center.bold
          | WEB
      .col-xs-7
        h3#web-content.text-center
          | As ruby on rails agency we build elegant and functional web solutions using Ruby On Rails, React / Redux, Angular and more.
        = button_tag "FIND OUT", {id: "web-button", class: "btn-default findout-button findout-text" }
    #mobile-part.row.hide-content
      .col-xs-5
        = image_tag "mobile.png", id: "mobile-image"
        h1#mobile-text.text-center.bold
          | MOBILE
      .col-xs-7
        h3#mobile-content.text-center
          | With us you can create the mobile applications of your own and give you a great experience in exploring the technology through your hands. There are many mobile applications you can rely on for your daily and business activities, such as social media, travel, translator, GPS, or even your mobile version of your website. Our mobile developer team are expert with iOS Development, Android Development as well as with React-Native Development for hybrid mobile app development. Tell us your plan and we'll make it happen.
        button#mobile-button.btn-default.findout-button.mobile-button
          h4.findout-text
            | FIND OUT
    #desktop-part.row.hide-content
      .col-xs-5
        = image_tag "desktop.png", id: "desktop-image"
        h1#desktop-text.text-center.bold
          | DESKTOP
      .col-xs-7
        h3#desktop-content.text-center
          | We build cross platform desktop apps (Mac, Windows and Linux) for all your business needs with JavaScript, HTML & CSS using Electron.
        button#desktop-button.btn-default.findout-button.desktop-button
          h4.findout-text
            | FIND OUT
    #design-part.row.hide-content
      .col-xs-5
        = image_tag "design.png", id: "design-image"
        h1#design-text.text-center.bold
          | UI/UX DESIGN
      .col-xs-7
        h3#design-content.text-center
          | The look of your website is the mirror of your whole business and your offers, it's reflecting your creativity and will make you looked different from others
        button#design-button.btn-default.findout-button.design-button
          h4.findout-text
            | FIND OUT
    br
    #category-bar.row.category-bar
      .col-xs-3.text-center
        #web-arrow.arrow-up
        button#web.category-button.padding-top-9
          h4.bar-text
            | Web
      .col-xs-3.text-center
        #mobile-arrow.arrow-up
        button#mobile.category-button.padding-top-9
          h4.bar-text
            | Mobile
      .col-xs-3.text-center
        #desktop-arrow.arrow-up
        button#desktop.category-button.padding-top-9
          h4.bar-text
            | Desktop
      .col-xs-3.text-center
        #design-arrow.arrow-up
        button#design.category-button.padding-top-9
          h4.bar-text
            | UI/UX Design
  .row.content-3
    .col-xs-12
      h2#business-text.size-30
        b
          | Business Process
      hr.blue-line-home
      h5#business-content.text-center
        | In order to assist and serve your needs in custom software development with rails we offer two types of business models which could be options for you depend on the project scale and or its budget. Find out more about our business model here :
  .row.content-3
    .col-xs-6
      h3#project-based-text.text-center
        b
          | Project Based
      = image_tag "project-based.png", id: "project-based-image"
      button.btn-default.learn-more-button
        | LEARN MORE
    .col-xs-6
      h3#extended-team-text.text-center
        b
          | Extended Team
      = image_tag "extended-team.png", id: "extended-team-image"
      button.btn-default.learn-more-button.red-button
        | LEARN MORE
  .row.content-4
    h2#development-text
      b
        | Development Process 
      hr.green-line
    h5#development-content.text-center
      | Once the business processes above passed then we go through this phase. In this development process phase we implement Agile Software Development method which known as Scrum to aim emphasizes teamwork, client collaboration, accountability and iterative progress to produce great software products for our clients. In general your software development process would be like on the following flow :
    = image_tag "development-process.png", id: "development-process-image"
  button.btn-default.learn-more-button.purple-button
    | LEARN MORE
  h1#saying-text.text-center.bold
    | What Are They Saying
  .row
    .col-xs-12.profile-wrapper
      .content-5
        #people1-part.row
          .col-xs-5
            = image_tag "mark.jpg", id: "people1-image"
          .col-xs-7
            h1#people1-name.bold
              | Mark Feinbergh, of Uruut US
            hr.yellow-line
            h3#people1-content
              | They ruby developer is now a true part of our team and expect will remain so for a very long time. We will have plenty of work from launch on out and they will be our first and only choice to perform that work. they’re fantastic!
        #people2-part.row.hide-content
          .col-xs-5
            = image_tag "mark.jpg", id: "people2-image"
          .col-xs-7
            h1#people2-name.bold
              | William Flanagan
            hr.yellow-line
            h3#people2-content
              | They ruby on rails team have worked with me for the better part of 3 years, over several iterations of my product. Always working hard, taking the time to understand details, they were and hopefully will be a continued core part of my team. I came to this ruby on rails company with just a vision and they made it a reality. I owe a great deal to this company. If you need a true technical partner, I'd strongly strongly recommend 41studio.
        #people3-part.row.hide-content
          .col-xs-5
            = image_tag "mark.jpg", id: "people3-image"
          .col-xs-7
            h1#people3-name.bold
              | Christopher K
            hr.yellow-line
            h3#people3-content
              | 41studio is the best ror developer team that went above and beyond the call of duty during our project. Their highest priority is customer satisfaction!
        #people4-part.row.hide-content
          .col-xs-5
            = image_tag "mark.jpg", id: "people4-image"
          .col-xs-7
            h1#people4-name.bold
              | Mark Feinbergh
            hr.yellow-line
            h3#people4-content
              | They ruby on rails team have worked with me for the better part of 3 years, over several iterations of my product. Always working hard, taking the time to understand details, they were and hopefully will be a continued core part of my team. I came to this ruby on rails company with just a vision and they made it a reality. I owe a great deal to this company. If you need a true technical partner, I'd strongly strongly recommend 41studio.
        br
        #people-bar.row.category-bar
          .col-xs-2
          .col-xs-2.text-center
            #people1-arrow.arrow-up.blue-arrow
            button#people1.category-button.padding-top-9
              h4.bar-text
                | Mark Feinbergh
          .col-xs-2.text-center
            #people2-arrow.arrow-up
            button#people2.category-button.padding-top-9
              h4.bar-text
                | William Flanagan
          .col-xs-2.text-center
            #people3-arrow.arrow-up
            button#people3.category-button.padding-top-9
              h4.bar-text
                | Christopher K
          .col-xs-2.text-center
            #people4-arrow.arrow-up
            button#people4.category-button.padding-top-9
              h4.bar-text
                | Mark Feinbergh
          .col-xs-2
  .content-6
    h2#blog-text.text-center
      | Fresh Blog Post
    hr.red-line
    .article-part
      .row
        .col-xs-2
        .col-xs-3
          .row
            .col-xs-4
              h2.blog-place
            .col-xs-8
              h4.title-article.bold
                | CommunicAsia 2018
              h5.size-15
                | Admin
              br
              br
              h5
                | 30 Oct 2018
        .col-xs-1
        .col-xs-1
        .col-xs-3
          .row
            .col-xs-4
              h2.blog-place
            .col-xs-8
              h4.title-article.bold
                | CommunicAsia 2018
              h5.size-15
                | Admin
              br
              br
              h5
                | 30 Oct 2018
        .col-xs-2
      .row
        .col-xs-2
        .col-xs-3
          .row
            .col-xs-4
              h2.blog-place
            .col-xs-8
              h4.title-article.bold
                | CommunicAsia 2018
              h5.size-15
                | Admin
              br
              br
              h5
                | 30 Oct 2018
        .col-xs-1
        .col-xs-1
        .col-xs-3
          .row
            .col-xs-4
              h2.blog-place
            .col-xs-8
              h4.title-article.bold
                | CommunicAsia 2018
              h5.size-15
                | Admin
              br
              br
              h5
                | 30 Oct 2018
        .col-xs-2
      .row
        .col-xs-2
        .col-xs-3
          .row
            .col-xs-4
              h2.blog-place
            .col-xs-8
              h4.title-article.bold
                | CommunicAsia 2018
              h5.size-15
                | Admin
              br
              br
              h5
                | 30 Oct 2018
        .col-xs-1
        .col-xs-1
        .col-xs-3
          .row
            .col-xs-4
              h2.blog-place
            .col-xs-8
              h4.title-article.bold
                | CommunicAsia 2018
              h5.size-15
                | Admin
              br
              br
              h5
                | 30 Oct 2018
        .col-xs-2
  .row.content-7
    #black-background.col-xs-6
      h3.text-center.title-content7
        | What We Have Done
      h5.text-center.size-15.bottom-text
        | Listen. Explore. Deliver! As an agile web development with rails we solve Hire Ruby On Rails Expert Now! hard problems with our clients everyday and we love to create their great ideas into the stunning functionally products. Find out more about our past work to see how we had help give solutions to our clients like you.
      button.btn-default.learn-more-button.transparent.margin-top-20.bottom-button
        | LEARN MORE
    #blue-background.col-xs-6
      h3.text-center.title-content7
        | Hire Ruby On Rails Expert Now!
      h5.text-center.center.size-15.line-height-30.font-helvetica
        | Already have remarkable ideas to be built? Let’s get connect! Do not let other people preceded your ideas..
      button.btn-default.learn-more-button.transparent.margin-top-20.bottom-button
        | LEARN MORE
  button.back-top

    a[href="#header"]
      span.glyphicon.glyphicon-arrow-up
  .row.footer
    .col-xs-6.col-sm-8
      h4.copyright
        | &copy Copyright 2018 41Studio All Right Reserved
    .col-xs-6
.admin-chat
  #admin-chat.row
    .col-xs-12
      .header-chat
        h4.bold.color-white.admin-name
          | Allen Aprilia Begista
        button.glyphicon.glyphicon-remove.close-button
      .body-chat
        .row.body-chat-container
          .col-xs-3
            = image_tag "allen.jpg", id: "admin-image"
          .col-xs-9
            .box-chat
              h4
                | Hello, Can I Help You?
        .typing-message
          .row
            .col-xs-8
              input#typing-text[type="text" name="typing" placeholder="Type your message..."]
            .col-xs-2
              = image_tag "clip.png", class: "typing-fitur margin-left5"
            .col-xs-2
              = image_tag "send.png", class: "typing-fitur"