.home-logo
  = link_to (image_tag "41studio-logo.jpg", id: "header-logo"), root_path
#header.header
.container
  .row.main-content
    .col-xs-2
      h2.text-center.bold.title.title-nunito
        | HAPPENING NOW
    .col-xs-6
      hr.blue-line
    .col-xs-4
      h3#categories-text.bold.text-center.title-nunito
        | Categories
  .row.first-content
    .col-xs-4
      = image_tag "blog.jpg", class: "article-content1"
      h3.bold.title-nunito
        | Excepteur sint occaecat cupidatat non proident, sunt in culpa
      h4.content-helvetica
        | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est eopksio laborum. Sed ut perspiciatis unde omnis istpoe natus
      .row
        .col-xs-4
          = image_tag "blue-admin.png", class: "admin-image-article"
          h4.admin-name-article
            | Lisna
        .col-xs-8
          = image_tag "blue-date.png", class: "date-image-article"
          h4.date-text-article
            | 29 October 2018
    .col-xs-4
      = image_tag "blog.jpg", class: "article-content1"
      h3.bold.title-nunito
        | Excepteur sint occaecat cupidatat non proident, sunt in culpa
      h4.content-helvetica
        | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est eopksio laborum. Sed ut perspiciatis unde omnis istpoe natus
      .row
        .col-xs-4
          = image_tag "yellow-admin.png", class: "admin-image-article"
          h4.admin-name-article
            | Lisna
        .col-xs-8
          = image_tag "yellow-date.png", class: "date-image-article"
          h4.date-text-article
            | 29 October 2018
    .col-xs-4
      .row.button-article
        .col-xs-6
          button.categories-button.left.red.size-15.bold
            | Marketing
          button.categories-button.left.green.size-15.bold
            | Management
          button.categories-button.left.purple-article.size-15.bold
            | Mobile
          button.categories-button.left.yellow.size-15.bold
            | Web
          button.categories-button.left.blue-grey.size-15.bold
            | Uncategories
        .col-xs-6
          button.categories-button.right.blue.size-15.bold
            | Lifestyle
          button.categories-button.right.orange.size-15.bold
            | Lifestyle
          button.categories-button.right.light-blue.size-15.bold
            | Software
          button.categories-button.right.brown.size-15.bold
            | Design
  .row
    .col-xs-8
      = image_tag "blog.jpg", class: "big-article"
      .row
        .col-xs-6
          h3.bold.title-nunito
            | Excepteur sint occaecat cupidatat non proident, sunt in culpa
          h4.content-helvetica
            | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est eopksio laborum. Sed ut perspiciatis unde omnis istpoe natusest laborum.
          .row
            .col-xs-4
              = image_tag "green-admin.png", class: "admin-image-article"
              h4.admin-name-article
                | Lisna
            .col-xs-8
              = image_tag "green-date.png", class: "date-image-article"
              h4.date-text-article
                | 29 October 2018
          .col-xs-6
      .col-xs-4
  .row
    .col-xs-4
      = image_tag "blog.jpg", class: "article-content1"
      h3.bold.title-nunito
        | Excepteur sint occaecat cupidatat non proident sunt in culpa
      h4.content-helvetica
        | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est eopksio laborum. Sed ut perspiciatis unde omnis istpoe natus
      .row
        .col-xs-4
          = image_tag "blue-admin.png", class: "admin-image-article"
          h4.admin-name-article
            | Lisna
        .col-xs-8
          = image_tag "blue-date.png", class: "date-image-article"
          h4.date-text-article
            | 29 October 2018
    .col-xs-4
      = image_tag "blog.jpg", class: "article-content1"
      h3.bold.title-nunito
        | Excepteur sint occaecat cupidatat non proident sunt in culpa
      h4.content-helvetica
        | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est eopksio laborum. Sed ut perspiciatis unde omnis istpoe natus
      .row
        .col-xs-4
          = image_tag "yellow-admin.png", class: "admin-image-article"
          h4.admin-name-article
            | Lisna
        .col-xs-8
          = image_tag "yellow-date.png", class: "date-image-article"
          h4.date-text-article
            | 29 October 2018
  .row
    .col-xs-8
      = image_tag "blog.jpg", class: "big-article last-big-article"
      .row
        .col-xs-6
          h3.bold.title-nunito
            | Excepteur sint occaecat cupidatat non proident sunt in culpa
          h4.content-helvetica
            | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est eopksio laborum. Sed ut perspiciatis unde omnis istpoe natusest laborum.
          .row
            .col-xs-4
              = image_tag "green-admin.png", class: "admin-image-article"
              h4.admin-name-article
                | Lisna
            .col-xs-8
              = image_tag "green-date.png", class: "date-image-article"
              h4.date-text-article
                | 29 October 2018
          .col-xs-6
      .col-xs-4
  .row
    .col-xs-8
      .row
        .col-xs-4
        #page-button.col-xs-8
          button.previous-button
            | Previous
          button.previous-button.first-button.margin-left10
            | 1
          button.previous-button.third-button.margin-left10
            | 3
          button.previous-button.other-button.margin-left10
            | 26
          button.previous-button.margin-left10
            | Next
    .col-xs-4
.row.footer-article
  .col-xs-6
    = image_tag "logo-type.png", id: "logotype"
  .col-xs-6
    .row
      .col-xs-2
        = image_tag "facebook-grey.png", class: "sosmed-logo"
      .col-xs-2
        = image_tag "twitter-grey.png", class: "sosmed-logo"
      .col-xs-2
        = image_tag "GGrey.png", class: "sosmed-logo"
      .col-xs-2
        = image_tag "linkedin-grey.png", class: "sosmed-logo"
      .col-xs-2
        = image_tag "instagram-grey.png", class: "sosmed-logo"
      .col-xs-2
        = image_tag "Youtube-Grey.png", class: "sosmed-logo"