.sosmed-logo-wrapper-job
  = image_tag "Instagram.png", class: "logo-sosmed"
  br
  = image_tag "linkedin.png", class: "logo-sosmed"
  br
  = image_tag "G.png", class: "logo-sosmed"
  br
  = image_tag "Twitter.png", class: "logo-sosmed"
  br
  = image_tag "facebook.png", class: "logo-sosmed"
.hiring-page.modal-fullwidth
  button.glyphicon.glyphicon-remove.close-button
  .container
    .row
      .col-md-4
        = image_tag "android-dev.png", id: "android"
      .col-md-8
        h1#title.bold.text-center
          | Android Developer
        hr.green-line
        h3.text-center.margin-75.line-height-30
          | We are looking for someone that has strong experience with developing user interfaces for applications on the Android using the Android SDK. If you are interested in joining a world-class team of passionate people and industry veterans who like to work hard and play hard, we look forward to hearing from you soon!
    .row
      .col-md-6
        h1.bold
          | Requirements
        h4.hiring-content
          | 1. Minimum of 3 years Android development experience 
          br
          | 2. Strong understanding of Java programming language. 
          br
          | 3. Hands-on experience working with multiple data interchange new features formats such as XML and JSON. 
          br
          | 4. Strong understanding of modern mobile application development 
          br
          | 5. Working knowledge of the general mobile landscape, architectures, technical solution trends and emerging technologies. 
          br
          | 6.Understanding of code versioning tools such as Git. to maximize development efficiency 
          br
          | 7. Experience with the creation and consumption of web services. 
          br
          | 8. Experience with Jira / Atlassian products is a plus. a great mobile user experience 
          br
          | 9. Experience developing Xamarin applications is a plus. 
          br
          | 10. Experience working in an agile environment is a plus. 
          br
          | 11. Experience with multithreading programming is a plus. 
          br
          | 12. Experience writing unit tests and testable code is a plus. 
          br
          | 13. Development experience with iOS is a plus. 
          br
          | 14. Excellent communication and interpersonal skills. 
          br
          | 15. Excellent written & spoken English. 
          br
          | 16. Awesome attitude.
      .col-md-6
        h1.bold
          | Responsibilities
        h4.hiring-content
          | 1. Design and build advanced applications for the Android platform 
          br
          | 2. Collaborate with cross-functional teams to define, design and ship 
          br
          | 3. Ensure performance, quality and responsiveness of applications 
          br
          | 4. Work with the product team to understand end-user requirements 
          br
          | 5. Continuously discover, evaluate, and implement new technologies 
          br
          | 6. Integrate with our backend services to make sure we are delivering 
          br
          | 7. Identify and correct bottlenecks to improve application performance
    h4#below-text.text-center.margin-200
      | If you think you are suitable for this position, feel free to send your application by filling in the form in Contact Page and make sure to attach your Resume/CV. Only short-listed candidates will be invited via phone/email for test and interview
    button.apply-button.bold
      | APPLY NOW
.home-logo
  = image_tag "41studio-logo.jpg", id: "header-logo"
#header.header
.container-fluid
  .navbar.job-navbar
    a#home-link.hvr-underline-from-center[href="home.html"]
      h2
        | Home
    a.hvr-underline-from-center[href="service.html"]
      h2
        | Services
    a.hvr-underline-from-center[href="portofolio.html"]
      h2
        | Portofolios
    a.hvr-underline-from-center[href="job.html"]
      h2
        | Jobs
    a.hvr-underline-from-center[href="about.html"]
      h2
        | About Us
    a.hvr-underline-from-center[href="contact.html"]
      h2
        | Contact
    a#blog-link.hvr-underline-from-center[href="article.html"]
      h2
        | Blog
  .jumbotron-job
    h2.jumbotron-title-job.centered.bold.title-nunito
      | Ruby On Rails Job in Bandung, Indonesia
    hr.jumbotron-line
    h5.jumbotron-content.size-15.content-helvetica
      | 41studio is software development company which is not only aiming to develop great products, but also developing ruby on rails experts. Join us now, we are hiring!
    = image_tag "circle-logo.png", id: "jumbotron-logo-job"
    = image_tag "support.png", id: "support-logo"
  h2.text-center.bold.hiring-text.title-nunito
    | We're Hiring!
  hr.yellow-line-job
  h5.text-center.desc-hiring.content-helvetica
    | 41studio is calling the best experienced Ruby On Rails, iOS and Android developers in Bandung and Jakarta to join the team. The successful candidate will be able to build high- quality, innovative and fully performing software in compliance with coding standards and technical design.
  .button-filter-job
    button#developer-button.btn-default.transparent.btn-filter-job
      | Developer
    button.btn-default.transparent.btn-filter-job
      | Designer
    button.btn-default.transparent.btn-filter-job
      | Management
    button.btn-default.transparent.btn-filter-job
      | Business
  .row.developer
    .col-md-5
      = image_tag "android-dev.png", id: "android-dev"
    .col-md-7
      h2#andro-title.text-center.bold.title-nunito
        | Android Developer
      hr.blue-line-job
      h5.text-center.content-hiring.content-helvetica
        | We are looking for someone that has strong experience with developing user interfaces for applications on the Android using the Android SDK. If you are interested in joining a world-class team of passionate people and industry veterans who like to work hard and play hard, we look forward to hearing from you soon!
      .row.button-hiring
        .col-md-6
          button.btn-default.transparent.btn-filter-job.float-right.blue
            | LEARN MORE
        .col-md-6
          button.btn-default.transparent.btn-filter-job.yellow
            | APPLY NOW
  .row.green-bar
    .col-md-2
    .col-md-2.text-center
      .arrow-up-job
      button.category-button
        h4.bold.size-20
          | Android Developer
    .col-md-2.text-center
      .arrow-up-job.another-triangle
      button.category-button.no-pad-top
        h4.bold.size-20
          | Ios Developer
    .col-md-2.text-center
      .arrow-up-job.another-triangle
      button.category-button.no-pad-top
        h4.bold.size-20
          | React Native
    .col-md-2.text-center
      .arrow-up-job.another-triangle
      button.category-button.no-pad-top
        h4.bold.size-20
          | Web Developer
    .col-md-2
  .content-bottom-job
    h3.content-bottom-text.title-nunito
      | Are you Ruby On Rails Expert ?
    button#hire-button-job.btn-default.transparent.btn-filter-job.purple-job
      | HIRE US
  button.back-top-job

    a[href="#header"]
      span.glyphicon.glyphicon-arrow-up
  .row.footer
    .col-md-6
      h4.bold.size-20
        | &copy Copyright 2018 41Studio All Right Reserved
    .col-md-6
  .admin-chat-job
    #admin-chat.row
      .col-xs-12
        .header-chat
          h4.bold.color-white.admin-name
            | Allen Aprilia Begista
          button.glyphicon.glyphicon-remove.close-button
        .body-chat
          .row.body-chat-container
            .col-md-3
              = image_tag "allen.jpg", id: "admin-image"
            .col-md-9
              .box-chat
                h4
                  | Hello, Can i help you?
          .typing-message
            .row
              .col-md-8
                input#typing-text[type="text" name="typing" placeholder="Type your message..."]
              .col-md-2
                = image_tag "clip.png", class: "typing-fitur margin-left5"
              .col-md-2
                = image_tag "send.png", class: "typing-fitur margin-left5"