body{
  font-family: 'Nunito';
}
#android{
  height: 380px;
    margin-top: 140px;
    margin-bottom: 75px;
}
.bold{
  font-weight:bold;
}
#title{
  margin-top: 250px;
  font-size: 30px;
}
.margin-75{
  margin-left: 40px;
      margin-right: -60px;
}
.margin-200{
  margin-left: 200px;
  margin-right: 200px;
}
.green-line{
  width: 125px;
  background-color: #66bb69;
  height: 1px;
  margin-top: 20px;
}
.line-height-30{
  line-height: 30px;
}
.hiring-content{
  margin-top: 25px;
  line-height: 30px;
  font-size: 18px;
}
#below-text{
  line-height: 30px;
  color: #66bb69;
  margin-top:50px;
  font-size: 20px;
}
.apply-button{
  position: relative;
  top: 50%;
  left: 43%;
  width: 150px;
  height: 40px;
  border-radius: 30px;
  border-style: solid;
  border-color: #66bb69;
  background-color: transparent;
  color: #66bb69;
  font-size: 15px;
  margin-bottom:50px;
  margin-top:50px;
  outline: 0!important;
}
.close-button{
  font-size: 88px;
  -webkit-text-stroke: 17px white;
  color: #66bb69;
  position: absolute;
  right: 2%;
  top: 15%;
  background-color: transparent;
  border-color: transparent;
  outline: 0!important;
}