body{
  font-family: 'Nunito';
}
.header{
  background-color: #F8F8F8;
  height: 90px;
  border-bottom: 0.8px solid #e9e9e9;
  position: fixed;
  z-index: 9;
  width: 100%;
  opacity: 0.9;
}
#header-logo{
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.home-logo{
  position: fixed;
  z-index: 99;
  left: 49%;
  right: 50%;
  margin-top: 15px;
}
.navbar{
  width: 100%;
  margin-left: -15px;
  margin-right: auto;
  position: fixed;
  z-index: 9;
  margin-top: 90px;
  background-color: white;
  border-radius: 0;
  height: 60px;
  font-family: 'Nunito';
  box-shadow: 1px 1px 1px 3px #f3f3f3;
}
.navbar a{
  color: #5d5a5a;
}
.navbar a:hover{
  text-decoration: none;
}
#home-link{
  margin-left: 280px;
}
#blog-link{
  margin-right: 280px;
}
.jumbotron-job{
  background:linear-gradient(180deg,rgba(35,62,100,0.3),rgba(88,146,225,0.8)),url(monitor.jpg);
  width: 100%;
  height: 625px;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 100%;
  min-height: 100%;
  margin-top: -25px;
  background-position:center;
  margin-top: 150px;
}
#jumbotron-logo-job{
  position: fixed;
  bottom: 20px;
  left: 20px;
  border-radius: 50px;
  z-index: 99;
  border:2px solid #f1f1f1;
  width: 60px;
}
.bold{
  font-weight: bold;
}
.margin-400{
  margin-left: 400px;
  margin-right: 400px;
}
.button-filter-job{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  padding-right: 15px;
  outline: 0!important;
}
.btn-filter-job{
  width: 150px;
  border-radius: 30px;
  padding: 8px;
  border-style: solid;
  font-size: 15px;
  font-weight: bold;
  color: #707070;
  outline: 0!important;
  margin-left: 20px;
}
#android-dev{
  float: right;
  width: 370px;
  margin-right: 15px;
}
#andro-title{
  margin-top:100px;
  font-size: 30px;
}
.margin-200{
  margin-left:100px;
  margin-right:100px;
}
.float-right{
  float: right;
}
.developer{
  margin-bottom:50px;
}
.green-bar{
  color: white;
  padding: 23px 15px 15px 15px;
  background-color:#77bc63;
}
.content-7{
  height: 250px;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(monitor.jpg);
}
.center{
  margin-right:auto;
  margin-left: auto;
  display: block;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 25px;
}
.footer{
  height: 150px;
  background-color: #42A5F5;
  color: white;
  padding-top: 70px;
  padding-left: 70px;
}
.title-content7{
  margin-top:50px;
}
.learn-more-button{
  border-color:#66bb69;
  color: #66bb69;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 120px;
  height: 30px;
  border-radius:5px;
  border-style: solid;
  outline: 0!important;
}
#support-logo{
  width: 60px;
  height: 60px;
  background-color: white;
  object-fit: cover;
  border-radius: 50%;
  position: fixed;
  bottom: 15px;
  right: 20px;
  padding: 7px;
  border:2px solid #f1f1f1;
}
.jumbotron-line-job{
  height: 1px;
  background-color: white;
  width: 230px;
  position: absolute;
  top:55%;
  left: 42%;
}
.jumbotron-content-job{
  color: white;
  text-align: center;
  margin-left: 365px;
  margin-right: 365px;
  line-height: 25px;
  position: absolute;
  top:60%;
  left: 0;
  font-size: 15px;
}
.jumbotron-title-job{
  font-size: 30px;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-47%, -50%);
  font-size: 34px;
}
.hiring-text{
  font-size: 30px;
  margin-top: 100px;
}
.yellow-line-job{
  margin-top: 10px;
  width: 130px;
  background-color: #f7d835;
  height: 1px;
  margin-left: 45%;
}
.desc-hiring{
  font-size: 15px;
  line-height: 30px;
  margin-left: 365px;
  margin-right: 365px;
}
.blue-line-job{
  width: 130px;
  background-color: #50a5f5;
  height: 1px;
  margin-left: 315px;
}
.content-hiring{
  font-size: 15px;
  line-height: 25px;
  margin-left: 50px;
  margin-right: 50px;
}
.button-hiring{
  margin-top: 25px;
}
.blue{
  border-color:  #50a5f5;
  color:#50a5f5;
}
.yellow{
  border-color:#f7d835;
  color: #f7d835;
}
.category-button{
  background-color: transparent;
  border:none;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  outline: 0!important;
}
.content-bottom-job{
  width: 100%;
  height: 275px;
  background:linear-gradient(180deg,rgba(35,62,100,0.3),rgba(88,146,225,0.8)),url(monitor.jpg);
  object-fit: cover;
  background-size: cover;
  background-position: center;
  padding:0px;
}
.content-bottom-text{
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  padding-top: 100px;
}
#hire-button-job{
  color: white;
  border-color:white;
  position: absolute;
  left: 44.5%;
  right: 50%;
  margin-top: 50px;
  outline: 0!important;
}
.transparent{
  background-color:transparent;
}
.margin-left-75{
  margin-left: 75px;
}
.purple-job{
  border-color:#7d53c8;
  color: #7d53c8;
}
.size-20{
  font-size: 20px;
}
#developer-button{
  color: #ef5350;
  border-color: #ef5350;
  background-color: white;
  outline: 0!important;
}
.arrow-up-job {
  width: 0;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #77bc63;
  margin-top: -28px;
  margin-left: 100px;
}
.another-triangle{
  display: none;
}
.no-pad-top{
  padding-top: 0px;
}
.modal-fullwidth{
  width: 100%;
  display: none;
  position: fixed;
  top: 150px;
  height: 100vh;
  background: #fff;
  z-index: 8;
}
.back-top-job{
  position: absolute;
  border-radius: 50%;
  border: none;
  width: 40px;
  height: 40px;
  background-color: white;
  right: 50%;
  left: 50%;
  margin-top: -20px;
  outline: 0!important;
}
.job-navbar .hvr-underline-from-center:hover{
  color:#84b209!important;
}
.job-navbar .hvr-underline-from-center:before{
  background:#84b209!important;
}
.content-helvetica{
  font-family: 'helvetica-neue' ,'sans-serif';
}
.title-nunito{
  font-family: 'Nunito';
}
.sosmed-logo-wrapper-job{
  position: fixed;
  bottom: 90px;
  display: none;
  left: 20px;
}
.logo-sosmed{
  padding: 5px;
  width: 75px;
  margin-left: -5px;
}
.admin-chat-job{
  max-width: 400px;
  position: fixed;
  right: 0px;
  bottom: 100px;
  z-index: 999;
  display: none;
}
.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
}
@media screen and (max-width: 375px) { 
  #header-logo-job{
    margin-left: -15px;
    width: 40px;
    height: 40px;
    margin-top: -5px;
  }
  .jumbotron-line-job{
    left: 20%;
  }
  .jumbotron-content-job{
    margin-right:0;
    margin-left: 0;
  }
  .jumbotron-job{
    margin-top: 110px;
  }
}